<ion-header  [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://images.cdn3.buscalibre.com/fit-in/360x360/f4/bc/f4bc25288107cfebe6a9cbc1e245c00a.jpg" />
    </ion-thumbnail>
    <ion-label> El principito </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://media.glamour.es/photos/616fb8400ff0e632eaeb6272/master/w_1600%2Cc_limit/549521.jpg" />
    </ion-thumbnail>
    <ion-label> 50 sombras de gray </ion-label>
  </ion-item>
</ion-content>

