<app-header title="Home">

</app-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>
      <h2>¡Bienvenido a iBiblioteca!</h2>
      <p>La mejor biblioteca virtual en el mundo!</p>
      <ion-button routerLink="/biblioteca">
        <ion-icon name="book"></ion-icon>
        <ion-label>Biblioteca</ion-label>
      </ion-button>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Informacion sobre los autores</h2>
      <p>Conoce mas acerca de los autores de iBiblioteca</p>
      <ion-button routerLink="/autor">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Autor</ion-label>
      </ion-button>
    </ion-label>
  </ion-item>
</ion-content>
